      <ul class="navbar-nav">
         <li class="nav-item">
          <a class="nav-link" href="/login/">Статусы</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/login/">Метки</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/login/">Задачи</a>
        </li>

        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link">
                Выход
            </button>
            </form>
        </li>

    </ul>
